.fullFooter {
    width: 100vw;
    height: 70%; /* Adjust height as needed */
    color: black;
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}

.footerMain{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: #EFEFEF;
    width: 100vw;
    height: 60vh;
    border-top: 1px solid white;
    /* gap: rem; */
}

.footer-logo {
    flex: 1; /* Adjust as needed */
}

.footerLogo{
    width: 20rem;
    margin-top: 8rem;
    margin-left: 10rem;
}

/* .footerImage2 {
    position: absolute;
    z-index: -1;
    width: 98.9vw;
    height: 91vh;
    margin-left: -1.3rem;
  }
.footerImage3 {
    position: absolute;
    z-index: 0;
    width: 98.9vw;
    height: 80vh;
    margin-left: -1.3rem;
  } */


.footer-options {
    display: flex;
    margin-top: 4rem;
    margin-left: 4rem;
    color: black;
    gap: 15rem;
}

.footer-column {
    margin-right: 20px;
    width: 18rem;
}

.footer-column h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    /* margin-left: 0.5rem; */
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    /* margin-bottom: 8px; */
    font-size: 17px;
    line-height: 3rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.li {
    /* margin-bottom: 8px; */
    font-size: 17px;
    line-height: 3rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-align: center;
}
.footer-column2 {
    margin-right: 60px;
    /* width: 20rem; */
}

.footer-column2 h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.footer-column2 ul {
    list-style-type: none;
    padding: 0;
}


.footer-column3 {
    margin-right: 70px;
    /* width: 20rem; */
}

.footer-column3 h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.footer-column3 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Ensure vertical list */
}

.footer-column3 li {
    margin-bottom: 5px; /* Adjust as needed */
    font-size: 17px;
    line-height: 3rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.endTextFooter{
    padding-top: 6rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


/* Tablet styles */
@media screen and (max-width: 768px) {
    .fullFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }

    .footerMain {
        height: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 1rem;
        margin: 0;
    }

    .footer-column,.footer-column2, .footer-column3 {
        width: 100%;
        text-align: center;
        /* padding-bottom: 3rem; */
        /* margin-left: -7rem; */
    }

    .footer-column h4, .footer-column2 h4, .footer-column3 h4 {
        font-size: 14px;
    }

    .footer-column ul, .footer-column3 ul{
        margin-top: -5%;
    } 

    .footer-column ul li, .footer-column3 ul li{
        font-size: 12px;
        /* width: 17rem; */
        height: 2rem;
        text-align: center;
    }
    .li {
        font-size: 12px;
        line-height: 1rem;
    }
    .endTextFooter{
        padding-bottom: 6rem;
        padding-top: 2rem;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
    .fullFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }

    .footerMain {
        height: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 1rem;
        margin: 0;
    }

    .footer-column,.footer-column2, .footer-column3 {
        width: 100%;
        text-align: center;
        /* padding-bottom: 3rem; */
        /* margin-left: -7rem; */
    }

    .footer-column h4, .footer-column2 h4, .footer-column3 h4 {
        font-size: 14px;
    }

    .footer-column ul, .footer-column3 ul{
        margin-top: -5%;
    } 

    .footer-column ul li, .footer-column3 ul li{
        font-size: 12px;
        /* width: 17rem; */
        height: 2rem;
        text-align: center;
    }
    .li {
        font-size: 12px;
        line-height: 1rem;
    }
    .endTextFooter{
        padding-bottom: 6rem;
        padding-top: 2rem;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }
    
}