.homePage-products-section {
  text-align: center;
  height: 100vh;
  padding: 60px 0;
  background-color: white;
}

.homePage-products-section h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.homePage-products-section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  color: black;
}

.homePage-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.homePage-slider-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  color: black;
}

.homePage-slider-arrow:disabled {
  color: gray;
  cursor: not-allowed;
}

.homePage-products-row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  position: relative;
}

/* .homePage-product-card {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInFromRight 0.5s forwards;
} */

.homePage-product-card {
  margin: 10px 2px;
  width: 350px; /* Adjusted width */
  height: 500px; /* Adjusted height */
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 5px;
}



.homePage-product-card:hover {
  transform: scale(1.05);
}

.homePage-product-card img {
  width: 100%;
  height: 400px; /* Adjusted height */
  object-fit:fill; /* Ensures image fits within the container */
  object-position: center; /* Centers the image within the container */
}

.homePage-product-card p {
  font-size: 14px;
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
  line-height: 1.2em;
}

.homePage-product-card .homePage-Product-price {
  font-weight: 400;
  color: black;
  font-size: 20px;
  margin: 0;
}

.homePage-Leaf2 {
  width: 16rem;
  height: 15rem;
  position: absolute;
  margin-top: -6rem;
  margin-left: -10rem;
  z-index: -1;
  opacity: 30%;
  transition: transform 0.5s ease-out;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .homePage-products-section {
    height: auto;
    padding: 20px 0;
    width: 100vw;
    margin-bottom: 2rem;
  }

  .homePage-products-section h1 {
    font-size: 1.2em;
  }

  .homePage-products-section h2 {
    font-size: 1em;
  }

  .homePage-slider-container {
    height: 300px;
  }

  /* .homePage-products-row {
    flex-direction: column;
  } */

  .homePage-product-card {
    height: 300px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .homePage-product-card img {
    height: 70%;
  }

  .homePage-slider-arrow {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  .homePage-slider-arrow.left {
    left: 2px;
  }

  .homePage-slider-arrow.right {
    right: 10px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .homePage-products-section {
    height: auto;
    padding: 20px 0;
    width: 100vw;
    margin-bottom: 2rem;
  }

  .homePage-products-section h1 {
    font-size: 1.2em;
  }

  .homePage-products-section h2 {
    font-size: 1em;
  }

  .homePage-slider-container {
    height: 300px;
  }

  /* .homePage-products-row {
    flex-direction: column;
  } */

  .homePage-product-card {
    height: 300px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .homePage-product-card img {
    height: 70%;
  }

  .homePage-slider-arrow {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .homePage-slider-arrow.left {
    left: 2px;
  }

  .homePage-slider-arrow.right {
    right: 10px;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .homePage-product-card.slide-out {
    animation: slideOutToLeft 0.5s forwards;
  }
}
