/* .hero-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.hero-title {
  width: 50%;
  position: absolute;
  font-size: 4rem;
  margin-top: 17rem;
  margin-left: 45rem;
  color: white;
  z-index: 1;
  opacity: 0; /* Start invisible */
  transition: opacity 1s ease-out; /* Smooth transition for opacity */
  text-align: center;
  line-height: 4.3rem;
}

/* .heroImage-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.heroImage {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
} */

.heroImage.animate {
  opacity: 1;
}

.heroImage-container.animating .heroImage {
  animation: slideFade 1s ease-in-out;
}

@keyframes slideFade {
  0% { opacity: 0; transform: translateX(100%); }
  50% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-100%); }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.hero-section {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-right: 1rem;
}

.heroImage-container {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.heroImage {
  width: calc(33.33% - 10px); /* 3 images with a white border in between */
  border: 5px solid white;
}

/* .prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  /* transform: scale(1.1); */
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .prev, .next {
    font-size: 20px;
    padding: 12px;
  }
  .heroImage-container {
    width: 100%;
    height: 80%;  
    top: 8%;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .hero-section {
    width: 100vw;
    height: 60vh;
  }

  .prev, .next {
    font-size: 18px;
    padding: 10px;
  }

  .heroImage-container {
    width: 100%;
    height: 80%;  
    top: 0%;
  }
}
