/* UpdatePassword.css */
.fullUpdatePassword {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    padding: 10rem;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: black;
  }
  
  .update-password-container {
    width: 450px;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgb(248, 247, 247);
    background-color: white;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    z-index: 9;
  }
  
  .update-password-form .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .input-container {
    position: relative;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    left: 70px;
    top: 48%;
    transform: translateY(-50%);
    color: black;
  }
  
  .password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
  }
  
  .update-password-form input {
    width: 75%;
    height: 3rem;
    padding: 8px 8px 8px 40px; /* Increased padding to fit the icon inside the input */
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    color: black;
  }
  
  .update-password-form input::placeholder {
    color: black; /* Placeholder text color */
  }
  
  .update-button {
    width: 50%;
    padding: 10px;
    margin-top: 0.5rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  .update-button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  
  .update-password-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  .update-password-message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .update-password-message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  @media screen and (max-width: 480px) {
    .fullUpdatePassword {
      width: 100vw;
    }
    .update-password-container {
      width: 80vw;
    }
    
    .input-icon {
      left: 45px;
    }
  
    .password-toggle {
      left: 230px;
    }

    .update-button {
        width: 60%;
      }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {

    .fullUpdatePassword {
        width: 100%;
      }
   
    .update-password-container {
      width: 100%;
    }
    
    .input-icon {
      left: 60px;
    }
  
    .password-toggle {
      left: 320px;
    }

  .update-button {
    width: 50%;
  }
  }
  