/* UpdatePassword.css */
.dashboardUpdatePass-fullUpdatePassword {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* padding: 10rem; */
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: black;
  }
  
  .dashboardUpdatePassupdate-password-container {
    width: 450px;
    padding: 20px;
    color: black;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgb(248, 247, 247);
    background-color: white;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    z-index: 9;
  }
  
  .dashboardUpdatePassupdate-password-form .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .dashboardUpdatePassinput-container {
    position: relative;
    width: 100%;
  }
  
  .dashboardUpdatePassinput-icon {
    position: absolute;
    left: 10%;
    top: 48%;
    transform: translateY(-50%);
    color: black;
  }
  
  .dashboardUpdatePasspassword-toggle {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
  }
  
  .dashboardUpdatePassupdate-password-form input {
    width: 75%;
    height: 3rem;
    padding: 8px 8px 8px 40px; /* Increased padding to fit the icon inside the input */
    border: 1px solid black;
    background-color: transparent;
    color: black;
  }
  
  .dashboardUpdatePassupdate-password-form input::placeholder {
    color: black; /* Placeholder text color */
  }
  
  .dashboardUpdatePassupdate-button {
    width: 50%;
    padding: 10px;
    margin-top: 0.5rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  .dashboardUpdatePassupdate-button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  
  .dashboardUpdatePassupdate-password-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  .dashboardUpdatePassupdate-password-message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .dashboardUpdatePassupdate-password-message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  