.productPage-products-section {
  text-align: center;
  height: 100vh;
  padding: 20px 0;
  background-color: white;
  margin-bottom: -3.5rem;
  width: 100vw;
}

.productPage-products-section h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.productPage-products-section h2 {
  /* margin-bottom: 20px; */
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  color: black;
}

.productPage-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

/* .homePage-slider-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  color: black;
}

.homePage-slider-arrow:disabled {
  color: gray;
  cursor: not-allowed;
} */


.productPage-prevProd, .productPage-nextProd {
  cursor: pointer;
  position: absolute;
  top: 37%;
  color: black;
  font-weight: 300;
  font-size: 25px;
  width: 50px;
  height: 45px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  border-radius: 20%;
  background-color: white;
  user-select: none;
}

.productPage-nextProd {
  right: 90px;
}

.productPage-prevProd {
  left: 90px;
}

.productPage-prevProd:hover, .productPage-nextProd:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.productPage-prevProd:disabled, .productPage-nextProd:disabled {
  color: gray;
  cursor: not-allowed;
}

.productPage-products-row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  position: relative;
}

/* .homePage-product-card {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInFromRight 0.5s forwards;
} */

.productPage-product-card {
  margin: 10px 2px;
  width: 350px; /* Adjusted width */
  height: 500px; /* Adjusted height */
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid black; */
  /* border-radius: 2px; */
  padding: 0 5px;
}



.productPage-product-card:hover {
  transform: scale(1.05);
}

.productPage-product-card img {
  width: 100%;
  height: 400px; /* Adjusted height */
  object-fit:fill; /* Ensures image fits within the container */
  object-position: center; /* Centers the image within the container */
}

.productPage-product-card p {
  font-size: 17px;
  margin: 15px 0;
  color: gray;
  line-height: 1.2em;
  font-weight: 600;
  text-align: left;
}

.productPage-product-card .productPage-Product-price {
  font-weight: bold;
  color: black;
  font-size: 16px;
  margin: 0;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.productPage-product-card.slide-out {
  animation: slideOutToLeft 0.5s forwards;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .productPage-products-section {
    height: auto;
    padding: 10px 0;
    width: 100vw;
    margin-bottom: 2rem;
    width: 100vw;
  }

  .productPage-products-section h1 {
    font-size: 1.2em;
  }

  .productPage-products-section h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .productPage-slider-container {
    height: 400px;
  }

  /* .homePage-products-row {
    flex-direction: column;
  } */

  .productPage-product-card {
    height: 400px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .productPage-product-card img {
    height: 70%;
  }

  .productPage-product-card p {
    font-size: 13px;
    margin: 10px 0;
    padding-left: 7px;
  }

  .productPage-product-card .productPage-Product-price {
    font-size: 13px;
    margin: 0;
    padding-left: 7px;
  }

  .productPage-prevProd, .productPage-nextProd {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .productPage-product-card.slide-out {
    animation: slideOutToLeft 0.5s forwards;
  }

}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .productPage-products-section {
    height: auto;
    padding: 10px 0;
    width: 100vw;
    margin-bottom: -40px;
    margin-top: -5px;
  }

  .productPage-products-section h1 {
    font-size: 2em;
  }

  .productPage-products-section h2 {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .productPage-slider-container {
    height: 300px;
  }

  /* .homePage-products-row {
    flex-direction: column;
  } */

  .productPage-product-card {
    height: 300px;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .productPage-product-card img {
    height: 70%;
  }

  .productPage-prevProd, .productPage-nextProd {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .productPage-product-card.slide-out {
    animation: slideOutToLeft 0.5s forwards;
  }
}
