.fullSocial {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid black ;
  }
  
  .socialItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px; /* Increase padding for a larger clickable area */
}


  .socialIcon {
    font-size: 24px; /* Adjust size of the icon */
    margin-right: 5px;
    color: black; /* Instagram's brand color */
  }
  
  .socialText {
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
  }

@media screen and (max-width: 768px) {
  .fullSocial {
    width: 100vw;
  }
  .socialIcon {
    font-size: 24px; /* Adjust size of the icon */
    margin-right: 5px;
    color: black; /* Instagram's brand color */
  }
  .socialItem {
    padding: 20px 15px; /* Adjust padding for smaller screens */
    z-index: 999;
}
  .socialText {
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }
}
  