* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.fullHeader {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  width: 100vw;
  height: 22.5vh;
  top: 0;
  background-color: white;
  padding: 0 0 1rem 0;
  z-index: 999;
}


.UpHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 22rem;
}

.leftSideIcons{
  display: flex;
  /* width: 100%; */
}

.rightSideIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  /* width: 100%; */
}

.bottomHeader {
  width: 100%;
  height: 6vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-top: 7.5rem;
  margin-right: 1.05rem;
  z-index: 999;
  transition: background-color 0.3s ease;
  border: 0.5px solid black;
}

.bottomHeader .bottomHeaderTitle{
  display: none;
}

.HeaderLogo {
  /* position: absolute; */
  width: 250px;
  height: 180px;
  margin-left: 7rem;
  margin-bottom: 1rem;
  /* top: -3rem;
  right: 47rem; */
  cursor: pointer;
}

.Logo {
  width: 250px;
  height: 180px;
}

.HeaderText {
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  padding: 0.5rem 0.3rem; /* Adjust padding instead of margin */
  line-height: 1.5; /* Ensure vertical alignment */
  transition: color 0.3s ease, background-color 0.3s ease; /* Add transition */
}

.HeaderText:hover {
  color: white;
  background-color: black;
  padding: 0.5rem 0.3rem;
}


.cartQuantity {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 2px 2px;
  font-size: 9px;
  position: absolute;
  top: 28%;
  right: 11.9%;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.bagIcon,
.mobileMenuIcon,
.userIcons,
.searchIcon {
  font-size: 25px;
  font-weight: 200; /* Adjust weight for even thinner look if needed */
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchIcon{
  width: 27px;
  height: 27px;
  margin-top: -2px;
}

.userIconss{
  width: 22px;
  height: 22px;
}

.bagIcons, .cartIcons{
  width: 26px;
  height: 26px;
  margin-top: -2px;
}

.mobileMenuIcon {
  display: none;
  z-index: 1000;
}

.leftSideIcons .searchIcon{
  display: none;
}

.rightSideIcons .cartIcons{
  display: none;
}


.searchBar {
  position: absolute;
  top: 110%; /* Start slightly off-screen */
  right: 2%;
  width: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px); /* Move up a bit */
  transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* When search bar is active/open */
.searchBar.open {
  top: 99%; /* Final position */
  opacity: 1;
  transform: translateY(0); /* Return to original position */
}


.searchBar input {
  width: 82%;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.searchBar button {
  height: 40px;
  width: 70px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/* .cartIconContainer {
  position: absolute;
  left: 82rem;
  top: 3.1rem;
} */

/* .bagIcon {
  font-size: 20px;
  cursor: pointer;
  color: black;
} */

/* .userIcons{
  position: absolute;
  top: 3.1rem;
  right: 16.3rem;
}
.searchIcon{
  position: absolute;
  top: 3.1rem;
  right: 20rem;
} */
 
@media (max-width: 768px) { 
  body {
    width: 100vw;
    height: 100%;
  }

  .fullHeader {    
    gap: 12rem;
    width: 100vw;
    height: 15.5vh;
    padding-right: 2rem;
    padding-left: 1rem;
  }
  
  
  .UpHeader {
    width: 100%;
    height: 100%;
    gap: 8.3rem;
    margin-top: 15px;
  }
  
  .leftSideIcons{
    display: flex;
    gap: 0.5rem;
    /* width: 100%; */
  }

  .leftSideIcons .searchIcon{
    display: inline;
  }
  
  .rightSideIcons{
    gap: 0.3rem;
    /* width: 100%; */
  }
  .rightSideIcons  .searchIcon{
    display: none;
  }

  .bottomHeader {
    flex-direction: column;
    gap: 1rem;
    display: none; 
    width: 100%; 
    background-color: white; 
    padding: 1rem; 
    border-top: none;
    border-bottom: none; 
    align-items: center; 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .bottomHeader.open {
    display: flex; 
    align-items: center;
    transform: translateY(0); 
    opacity: 1; 
    background-color: white;
    height: 100vh; /* Adjust height as needed */
    margin-top: 0;
    margin-left: -56%;
    width: 40%;
    border: 2px solid black;
    gap: 0; /* Adjust spacing */
  }
  .bottomHeader .bottomHeaderTitle{
    display:inline;
  }
  .bottomHeaderTitle {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 0.5rem;
    margin-top: -64%;
    margin-bottom: 20%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
  }

  .HeaderText {
    position: relative;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 14px;
    color: black; /* or any color you prefer */
    width: 100%; /* Ensures full width of bottomHeader */
    text-align: center; /* Center align the text */
  }
  
  .HeaderText:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px; /* Line thickness */
    background-color: rgba(211, 211, 211, 0.5); /* Light gray line color with opacity */
    width: 100%;
    margin: 0.5rem 0; /* Space between the text and the line */
  }
  
  .HeaderLogo {
    width: 300px;
    height: 200px;
    margin-left: 0.5rem;
    margin-top: 10px;
    /* margin-bottom: 1rem; */

  }
  
  .Logo {
    width: 300px;
    height: 200px;
  }


.bagIcon,
.mobileMenuIcon,
.userIcons,
.searchIcon {
  font-size: 25px;
  font-weight: 200; /* Adjust weight for even thinner look if needed */
}

.searchIcon{
  width: 33px;
  height: 33px;
  margin-top: -2px;
}

.userIconss{
  width: 25px;
  height: 25px;
}

.bagIcons, .cartIcons{
  width: 29px;
  height: 29px;
  margin-top: -2px;
}

.cartQuantity {
  font-size: 12px;
  top: 23%;
  right: 4%;
  width: 25px;
  height: 25px;

}


  .mobileMenuIcon, .bottomHeader.open .mobileMenuIcon {
    display: block;
  }

  .searchBar {
    top: 110%; /* Start slightly off-screen */
    left: 2%;
    width: 60%;
    padding: 10px;
  }
  
  .searchBar.open {
    top: 99%; /* Final position */
  }
  
  
  .searchBar input {
    width: 82%;
    height: 40px;
    padding: 5px;
    margin-right: 5px;
  }
  
  .searchBar button {
    height: 40px;
    width: 70px;
    padding: 5px 10px;
  }
  
  .rightSideIcons .bagIcons{
    display: none;
  }

  .rightSideIcons .cartIcons{
    display: inline;
  }
  

}

@media screen and (max-width: 768px) {

  body {
    width: 100vw;
    height: 100%;
  }

  .fullHeader {    
    gap: 12rem;
    width: 100vw;
    height: 11vh;
  }
  
  
  .UpHeader {
    width: 100%;
    height: 100%;
    gap: 2.5rem;
    margin-top: 15px;
    padding-left: 0.2rem;
    /* padding-right: 2rem;
    padding-left: 1rem; */
  }
  
  .leftSideIcons{
    display: flex;
    gap: 0.5rem;
    /* width: 100%; */
  }

  .leftSideIcons .searchIcon{
    display: inline;
  }
  
  .rightSideIcons{
    gap: 0.3rem;
    margin-left: 7px;
    /* width: 100%; */
  }
  .rightSideIcons  .searchIcon{
    display: none;
  }

  .bottomHeader {
    flex-direction: column;
    gap: 1rem;
    display: none; 
    width: 100%; 
    background-color: white; 
    padding: 1rem; 
    border-top: none;
    border-bottom: none; 
    align-items: center; 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .bottomHeader.open {
    display: flex; 
    align-items: center;
    transform: translateY(0); 
    opacity: 1; 
    background-color: white;
    height: 100vh; /* Adjust height as needed */
    margin-top: 0;
    margin-left: -32%;
    width: 65%;
    border: 2px solid black;
    gap: 0; /* Adjust spacing */
  }
  .bottomHeader .bottomHeaderTitle{
    display:inline;
  }
  .bottomHeaderTitle {
    width: 113%;
    background-color: gray;
    color: white;
    padding: 0.5rem;
    margin-top: -87%;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
  }

  .HeaderText {
    position: relative;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 14px;
    color: black; /* or any color you prefer */
    width: 100%; /* Ensures full width of bottomHeader */
    text-align: center; /* Center align the text */
  }
  
  .HeaderText:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px; /* Line thickness */
    background-color: rgba(211, 211, 211, 0.5); /* Light gray line color with opacity */
    width: 100%;
    margin: 0.5rem 0; /* Space between the text and the line */
  }
  
  .HeaderLogo {
    width: 160px;
    height: 140px;
    margin-left: -0.7rem;
    margin-top: 10px;
    /* margin-bottom: 1rem; */

  }
  
  .Logo {
    width: 160px;
    height: 140px;
  }


.bagIcon,
.mobileMenuIcon,
.userIcons,
.searchIcon {
  font-size: 22px;
  font-weight: 200; /* Adjust weight for even thinner look if needed */
}

.searchIcon{
  width: 28px;
  height: 28px;
  margin-top: -1px;
}

.userIconss{
  width: 21px;
  height: 21px;
}

.bagIcons, .cartIcons{
  width: 22px;
  height: 22px;
  margin-top: 0;
}

.cartQuantity {
  font-size: 12px;
  top: 25%;
  right: 7.6%;
  width: 20px;
  height: 20px;

}


  .mobileMenuIcon, .bottomHeader.open .mobileMenuIcon {
    display: block;
  }

  .searchBar {
    top: 112%; /* Start slightly off-screen */
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }
  
  .searchBar.open {
    top: 99%; /* Final position */
  }
  
  
  .searchBar input {
    width: 75%;
    height: 40px;
    padding: 5px;
    margin-right: 5px;
  }
  
  .searchBar button {
    height: 40px;
    width: 70px;
    padding: 5px 10px;
  }

  .rightSideIcons .cartIcons{
    display: inline;
  }
  
  .rightSideIcons .bagIcons{
    display: none;
  }
} 

@media (min-width: 730px) and (max-width: 1024px) { 
  .UpHeader {
    gap: 4rem; /* Adjusted gap for large mobile screens */
    padding-left: 1rem; /* Adjusted padding to prevent icons from being too far right */
    padding-right: 1rem; /* Adjusted padding to ensure visibility of menu icon */
  }

  .rightSideIcons {
    margin-right: 0.5rem; /* Reduced margin to adjust icons positioning */
  }

  .mobileMenuIcon {
    display: block; /* Ensure the menu icon is visible on large screens */
  }
}
